# analisa data penjualan di minimarket jaya sumber(fake dataset)

In [6]:
import pandas as pd

In [8]:
data = pd.read_csv("supermarket_sales.csv")
data

    Invoice ID;Branch;City;Customer type;Gender;Product line;Unit price;Quantity;Tax 5%;Total;Date;New_Date;Time;Payment;cogs;gross margin percentage;gross income;Rating
0    750-67-8428;A;Yangon;Member;Female;Health and ...
1    226-31-3081;C;Naypyitaw;Normal;Female;Electron...
2    631-41-3108;A;Yangon;Normal;Male;Home and life...
3    123-19-1176;A;Yangon;Member;Male;Health and be...
4    373-73-7910;A;Yangon;Normal;Male;Sports and tr...
..                                                 ...
995  233-67-5758;C;Naypyitaw;Normal;Male;Health and...
996  303-96-2227;B;Mandalay;Normal;Female;Home and ...
997  727-02-1313;A;Yangon;Member;Male;Food and beve...
998  347-56-2442;A;Yangon;Normal;Male;Home and life...
999  849-09-3807;A;Yangon;Member;Female;Fashion acc...

[1000 rows x 1 columns]